h2{
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 900;
    text-decoration: teal double underline;
    text-transform: uppercase;
}