div{
    height: 100px;
    width: 800px;
    background-color: palevioletred;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */

    /* border shorthand property  */
    border: 2px solid black;
    /* border-left-color:blue ;
    border-left-style:solid ;
    border-left-width:5px ; */
    border-left:5px solid black ;
   
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */

     padding: 20px;

     /* margin: 20px; */
     
}

h1{
    border: 2px solid brown;
    border-radius:15px ;
}
h2{
    border: 2px solid black;
    border-top-right-radius: 50px; 
}


button{
    border: 2px solid black;
    background-color: aqua;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
}