
div{
    width:400px;
    height:200px;
    text-align: center;
    background-color: #7aa874;
    margin:10px auto;
    box-shadow: 2px 2px 8px yellow;
    background-image: url("1303055.jpg");
    background-size: cover;
}