/* h2{
    display: inline;
    background-color: pink;
}
span{
    display: block;
    background-color: aqua
} */

/* span{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;   
    margin: 50px;   
} */

div{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;   
    margin: 20px;  
}