#main{
    height: 200px;
    width: 200px;
    border-radius: 50%;    
    background-color: orange;
    border: 2px solid black;
    text-align: center;
}

.inner{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    top:50px;
    left:60px;
}
#rightEye{
    left:130px;
}

#outer{
    height:40px ;
    width: 120px;
    border-radius:0 0 25px 25px ;
    background-color: brown;
    position: absolute;
    top: 125px;
    left: 50px;
}