section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin:10px auto;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}

/* transform  */

/* #one{
    transform:rotate(90deg) ;
} */


/* #two{
    transform: scale(2)
} */

#three{
    /* transform: translate(100px,100px); */
    /* transform: translateX(-100px); */
}

/* #four{
    transform: skew(30deg);
} */

#five{
    transform: rotate(40deg) translateX(100px);
}