/* div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    transition-duration: 2s;  
    transition-delay: 1s;  
    transition-timing-function: steps(2);  
    transition-delay: 1s;  
} */

/* div:hover{
    background-color: aquamarine;
    border-radius: 50%;
} */

div{
    height: 100px;
    width: 100px;
    background-color: rgb(83, 201, 28);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
}

div:hover{
    margin-top: 400px;
}
