*{
    text-align: center;
}

#mainTopic{
    color: blue;
}

h1 h3 h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Descendent selector  */
/* body p{
    color: white;
    background-color: cornflowerblue;

} */

/* general selector  */
h3 ~ p{
    color: white;
    background-color: cornflowerblue;
}


div button{
    background-color: purple;
    color: azure;
}

button:hover{
    background-color: yellow;
    color: blue;
}

p:nth-child(odd){
    color: yellow;
}

h1::first-letter{
    color: red;
}

#yes:checked + label { 
color: darkgreen; 
} 