div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#relative{
    background-color: yellow;
    position: relative;
    top: 150px;
    left: 100px; 
}