div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#absolute{
    background-color: rgb(250, 250, 45);
    position: absolute;
    top: 100px;
    left: 100px;
}