body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
}

.primary_button:link{
        color: green;
        padding: 10px;
}
.primary_button:visited{
        color: orange;
}

.primary_button:hover{
        color: red;
        background-color: black;
}

.primary_button:active{
        color: black;
        background-color: white;
        border: 4px solid gold;
}

ul li:first-child{
    background-color: violet;
}

ul li:last-child{
    background-color: red;
}


/*
nth child 
an+b
*/

ul li:nth-child(4){
    background-color: green;
}
