#main{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

#div1{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px;
    background-color: red;
}
#div2{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px;
    background-color: yellow;
}
#div3{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px;
    background-color: green;
}