div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#fixed{
    background-color: rgb(219, 219, 58);
    position: fixed;
    top: 100px;
    left: 100px;
}